/*header*/
header{
    width: 100%;
    background-image: linear-gradient(to bottom,#D3CBC080,#FFFFFF) ;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 80px;
    z-index: 100;
}
.nav_logo{
    width: 200px;
    height: 80px;
    display: inline-block;
    margin: auto 20px;
}
.nav_logo img{
    width: 100%;
}
.nav_menu{
    width: 100%;
    margin: 0 10px;
}
.nav_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav_list .wrap:nth-child(2){
    display: flex;
    justify-content: space-between;
}
.nav_item{
    margin: auto 10px;
    box-sizing: border-box;
    /* line-height: 70px;  */
}
.wrap .nav_item:nth-child(2) a{
    border-bottom: 2px solid #BC2222;
}
.wrap .nav_item:nth-child(1):hover,
.wrap .nav_item:nth-child(2):hover,
.wrap .nav_item:nth-child(3):hover,
.wrap .nav_item:nth-child(4):hover
{
    display: inline-block;
    width: 100px;
    line-height: 60px;
    background-color: var(--hover-color);
    border-radius: 20px;

}
.nav_item a{
    color:var(--nav-font-color) ;
    text-decoration: none;
    
}
.wrap li:nth-child(5),
.wrap li:nth-child(6){
    /* display: inline-block; */
    margin: auto -10px;
}
.wrap li img{
    width: 40%;
}
/*banner*/
.banner{
    width: 100%;
    position: relative; 
}
.banner img{
    width: 100%;
    height: 400px;
    vertical-align: bottom;
    object-fit: cover;
}
.banner h1{
    text-align: center;
    position: absolute;
    top: 280px;
    left: 0;
    right: 0;
   
    font-size: var(--title-font-size) ;
    color: var(--h1--color);
    text-shadow: var(--h1--text-shadow);

    /* background-color: #BA656580;
    border-radius: 20px; */

}
.banner p{
    text-align: center;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    font-size: var(--sub-title-font-size);
    color: var(--h1--color);
    text-shadow: var(--p-text-shadow);
}
/* breadcrumb */
.breadcrumb{
    background-color: var(--breadcrumb-bg-color);
    height: 20px;
    padding: 10px;
}
.breadcrumb span a{
    color: var( --breadcrumb-color);
}
.breadcrumb span:nth-child(1)::after{
    content:" / ";
    color: var( --breadcrumb-color);
}
/* category_nav */
.category_nav{
    width: 100%;
    line-height: 50px;
    background-image: linear-gradient(to bottom,#D3CBC080,#FFFFFF) ;
}
.category_nav ul{
    display: flex;
    justify-content: center;
}
.category_nav ul li{
   margin: 20px;
}
.category_nav ul li:nth-child(1){
    border-bottom: 2px solid #BC2222;
}
/* new_product */
.new_product{
    width: 100%;
    height: 500px;
    /* background-color: #D3CBC080; */
    background: linear-gradient(90deg,#66666680 50%,transparent 50%) center center / 100% 100% ,
                      url("img/product_list/new_product.jpg") right center / auto 100%;
}
.new_product .container{
    width: 1200px;
    height: 100%; 
    margin: 0 auto;
}
.new_product .product_txt{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f5f5f5;
    border-bottom: 1px solid #00000080;
    align-items: flex-start;
    margin-left: 20px;
    padding: 0 5px;
    position: relative;
}
.new_product .product_txt .tag{
    text-align: center;
    position: absolute;
    top: -10px;
    left: -20px;
    width: 10%;
    line-height: 50px;
    background-color:#BC2222;
    color:#f5f5f5;
    border-radius: 10px ;
    margin-bottom: 50px;
    box-shadow: 0 0 10px #00000080;
}
.new_product .product_txt h2{
    font-size: var(--sub-title-font-size);
    background-color: #BC222280;
    padding:  10px;
    border-bottom: 1px solid #666;
    border-radius: 20px;
}
.product_txt h2 small{
    display: block;
    font-size: var(--content-small-font-size);
    color: #f1f1f1;
    margin: 10px 0;
}
.product_txt p{
    font-size: var(--content-small-font-size);
    padding: 5px 0;
}
/* category_nav2 */
.category_nav2{
    width: 100%;
    line-height: 50px;
    background-image: linear-gradient(to bottom,#D3CBC080,#FFFFFF) ;
}
.category_nav2 ul{
    display: flex;
    justify-content: center;
}
.category_nav2 ul li{
   margin: 20px;
}
.category_nav2 ul li:nth-child(2){
    border-bottom: 2px solid #BC2222;
}
/* hot_product */

.hot_product{
    width: 100%;
    height: 650px;
    margin: 0 auto;
}
.product_container{
    width: 1200px;
    height: 90%;
    margin: 0 auto;  
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}
.product{
    width: 360px;
    padding: 19px;
    margin: 0 20px;
    box-sizing: border-box;
    border-image: url("img/mainPage/about_bg.jpg") 30/ 19px round;
    display: flex;
    flex-direction: column;
    background-color: #F8F6F3;
}
.product .product_img{
    width: 322px;
    height: 100%;
    flex-grow: 1;
}
.product .product_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .product_txt{
    flex-grow: 1;
    margin: 10px;
}
.product .product_txt h2{
    color: #BA6565;
}
.product .product_txt small{
    color: #666;
}
.product .product_txt p{
    color: #00000080;
    margin-bottom: none;
}
/* category_nav3 */
.category_nav3{
    width: 100%;
    line-height: 50px;
    background-image: linear-gradient(to bottom,#D3CBC080,#FFFFFF) ;
}
.category_nav3 ul{
    width: 100%;
    display: flex;
    justify-content: center;
}
.category_nav3 ul li{
   margin: 20px;
}
.category_nav3 ul:nth-child(1) li:nth-child(3){
    border-bottom: 2px solid #BC2222;
}
.category_nav3 ul:nth-child(2){
    background-color: #f5f5f5;
    line-height: 20px;
}
.category_nav3 ul:nth-child(2) li{
    color: #666;
}
.category_nav3 ul:nth-child(2) li:nth-child(2):hover,
.category_nav3 ul:nth-child(2) li:nth-child(3):hover,
.category_nav3 ul:nth-child(2) li:nth-child(4):hover,
.category_nav3 ul:nth-child(2) li:nth-child(5):hover,
.category_nav3 ul:nth-child(2) li:nth-child(6):hover
{
    line-height: 20px;
    background-color: #E9C7C7;
    text-align: center;
    padding: 0 5px;
    border-bottom: 2px solid #BC2222;
    border-radius: 20px;
}
.category_nav3 ul:nth-child(2) li:nth-child(1){
    color: #BC2222;
    font-size: var(--sub-title-font-size);
}
/* category_product */
.category_product{
    width: 100%;
    height: 600px;
    margin: 0 auto;
}
.arrow_right{
    width: 30px;
    height: 30px;
}
.category_product_container{
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.category_product_container .product{
    width: 250px;
    height: 380px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.category_product_container .product:hover{
    width: 250px;
    height: 380px;
    background-color: #00000080;
}
.category_product_container .product .pic{
    width: 100%;
    height: 50%; 
    flex-grow: 1;
}
.category_product_container .product .pic img{
    width: 100%;
    object-fit: cover;
}
.product .text{
    flex-grow: 1;
    padding: 10px;
    background-color:#cccccc90 ;
}
.product .text h2{
    margin-bottom:5px;
}
.product .text p{
    margin: 5px 0 ;
}
.text .carbon span{
    display: inline-block;
    font-size: 14px;
    margin: 5px 0;
    letter-spacing: 0;
}
.text .carbon{
    display: flex;
    align-items: center;
}
.product .carbon .pic{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.carbon .pic img{
    width: 50%;
}

.text .carbon span:nth-child(3){
    border: 3px dotted #f5f5f5;
}
/* category_nav4 */
.category_nav4{
    width: 100%;
    line-height: 50px;
    background-image: linear-gradient(to bottom,#D3CBC080,#FFFFFF) ;
}
.category_nav4 ul{
    display: flex;
    justify-content: center;
}
.category_nav4 ul li{
   margin: 20px;
}
.category_nav4 ul li:nth-child(4){
    border-bottom: 2px solid #BC2222;
}
/* discount_set */
.discount_set{
    width: 100%;
    height: 800px;
}
.discount_set .wrap{
    width: 1200px;
    margin: 0 auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,100px);
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.grid .pic{
    width: 400px;
    height: 200px;
}
.grid .pic div{
    position: relative;
    display: inline-block;
    width: 36px;
    height: 4px;
    background-color: #000000;
    border: 1px solid black;
}
.grid .pic img{
    width: 60%;
}
.grid div:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/4;
    margin: 0 auto;
    object-fit: cover;
    object-position: center bottom;
}
.grid div:nth-child(2){
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(img/product_list/oil_control.jpg);
    object-fit: contain;
}
.grid div:nth-child(3){
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(img/product_list/enlighten.jpg);
    object-fit: cover;
}
.grid div:nth-child(4){
    grid-column: 3/4;
    grid-row: 3/4;
    background-image: url(img/product_list/lotion.jpg);
    object-fit: cover;
}
.wrap .txt{
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.wrap .txt .btn_group{
    display: flex;
    justify-content: space-between;
}
.button_primary{
    margin-right: 10px;
}
/* footer */
.footer_wrap{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.footer_wrap a{
    color: #00000080;
}
.privacy:after{
    content: " | ";
}
.footer2_wrap,
.footer2_wrap a{
    display: block;
    color: #00000080;
    text-align: center;
    padding: 10px;
}
.follow_us img{
    width: 20px;
}
.footer_wrap div{
    padding: 10px;
}